body{
    background-color:#e6f2ff;
    background-image: url('../../images/white.jpg');
    background-position: center;
    background-size: 2600px;
    background-repeat
}


span.subtitle{
    font-size: 10pt;
    color: #5f5f5f;
    font-family: verdana;
}

span.maintitle{
    font-size: 18pt;
    color: #5f5f5f;
    font-family: verdana;
}
a.nav{
    font-size: 15pt;
    color: #5f5f5f;
    font-family: verdana;
    text-decoration: none;
}
a.nav:hover{
    font-size: 15pt;
    color: #8e83b9;
    font-family: verdana;
    text-decoration: none;
}
