body{
    background-image: url('../../images/white.jpg');
    background-position: center;
    background-size: 2600px;
    background-repeat
    background-blend-mode: 
}



ul.ulnav{
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(235, 235, 235);
    }
    
    li.linav{
        float: left;
    }
    
    li.linav a{
        display: block;
        color: rgb(87, 87, 87);
        text-align: center;
        padding: 13px 13px;
        text-decoration: none;
        font-size: 23pt;
    }
    
    li.linav a.active{
        display: block;
        color: color: rgb(0, 255, 235);
        text-align: center;
        padding: 13px 13px;
        text-decoration: none;
        width: 145px;
        transition: width 0.5s;
    }
    
    li.linav a:hover{
        background-color: rgb(246, 151, 151);
        font-size: 30pt;
        padding: 7px 13px;
        width: 170px;
        transition: width 0.5s;
      }

    #page_wrapper{
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        border: 3px solid #d3d3d3;
        padding: 10px;
        height:86%;
        width:97%;
        background-color:rgb(117, 117, 117, 0.1);

    }

    p.p_content1{
        font-size:12pt;
        color: #000000;
        font-family: verdana;
        background-color: rgb(230, 230, 230);
        padding: 5px;
        border-radius: 5px;
        border: 2px solid #333333;
    }

    span.font1{
        font-size: 20pt;
        color: #000000;
        font-family: verdana;
    }