ul.ulnav{
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(230, 230, 230);
    }
    
    li.linav{
        float: left;
    }
    
    li.linav a{
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 57px 56px;
        text-decoration: none;
        font-size: 51pt;
    }
    
    li.linav a.active{
        display: block;
        color: color: rgb(0, 255, 235);
        text-align: center;
        padding: 57px 56px;
        text-decoration: none;
    }
    
    li.linav a:hover{
        background-color: rgb(246, 151, 151);
        font-size: 60pt;
    }